<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
         <h1>For loop:</h1>
        <ul>
           <li v-for="(user, i) in users">Current User Index:({{i}}) {{user}}</li> 
           <br/>
        </ul>


        <h1>Template:</h1>

        <template v-for="(user, index) in users">
            <h3>User Name:{{user.name}}</h1>
            <h4>Webiste:{{user.website}}</h4>
        </template>

        <br />
        <h1>Loop through Objects</h1>

        <!-- Looping through properties of an object -->
        <ul>
            <li v-for="user in users">
                <ul v-for="(value, key, index) in user">
                    <li>{{key}}: {{value}} (Index:({{index}}))</li>
                </ul>
            </li>
        </ul>


        <h1>Loop through List of Numbers</h1>

        <ul v-for="n in 10">
            <li>{{n}}</li>
        </ul>
    </div>



    <!-- ---------------------------------------- -->

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    
    <script>
        const app = new Vue({
            el:"#app",
            data:{
                users:[
                        {
                            "id":1,
                            "name":"Leanne Graham",
                            "username":"Bret",
                            "email":"Sincere@april.biz",
                            "address":{
                                "street":"Kulas Light",
                                "suite":"Apt. 556",
                                "city":"Gwenborough",
                                "zipcode":"92998-3874",
                                "geo":{
                                    "lat":"-37.3159",
                                    "lng":"81.1496"
                                }
                            },
                            "phone":"1-770-736-8031 x56442",
                            "website":"hildegard.org",
                            "company":{
                                "name":"Romaguera-Crona",
                                "catchPhrase":"Multi-layered client-server neural-net",
                                "bs":"harness real-time e-markets"
                            }
                        },
                        {
                            "id":2,
                            "name":"Ervin Howell",
                            "username":"Antonette",
                            "email":"Shanna@melissa.tv",
                            "address":{
                                "street":"Victor Plains",
                                "suite":"Suite 879",
                                "city":"Wisokyburgh",
                                "zipcode":"90566-7771",
                                "geo":{
                                    "lat":"-43.9509",
                                    "lng":"-34.4618"
                                }
                            },
                            "phone":"010-692-6593 x09125",
                            "website":"anastasia.net",
                            "company":{
                                "name":"Deckow-Crist",
                                "catchPhrase":"Proactive didactic contingency",
                                "bs":"synergize scalable supply-chains"
                            }
                        }
                        ]
            }
        });
    </script>


</body>
</html>