<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <span v-for="option in options">
            <input v-model="checkedNames" type="checkbox" :id="option.value" :value="option.value" />
            <label for="option.value">{{option.value}}</label>

        </span>
        <br />

        {{checkedNames}}

        <h1>Example-2</h1>

        <ul>
            <li v-for="num in 5" :key="num">{{num}}</li>
        </ul>
    </div>

    <br /><br />

    <h1>Example-3</h1>

    <div id="app1">
        <p v-for="(value, key, index) in jokes" :key="value">
            <b>Key => </b> {{key}}
            <br />

            <b>Value => </b> {{value}}
            <br />

            <b>Index => </b> {{index}}
            <br />

        </p>

    </div>

    <!-- ---------------------------------------- -->

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>


    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    checkedNames: [],
                    options: [
                        {
                            "value": "Burns"
                        },
                        {
                            "value": "Mercado"
                        },
                        {
                            "value": "Soto"
                        },
                        {
                            "value": "Potts"
                        },
                        {
                            "value": "Riley"
                        },
                        {
                            "value": "Erica"
                        },
                        {
                            "value": "Laverne"
                        }
                    ]
                }
            }
        });

    </script>

    <script>
        const app1 = new Vue({
            el: "#app1",
            data() {
                return {
                    jokes: {
                        question: 'What did one baby prototype say to the other?',
                        answer: `I'll race you to class!`,
                        response: 'groan'
                    }
                }
            }
        });

    </script>


</body>

</html>