<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <span v-for="option in options">
            <input v-model="checkedNames" type="checkbox" :id="option.value" :value="option.value" />
            <label for="option.value">{{option.value}}</label>

        </span>
        <br />

        {{checkedNames}}
    </div>

    <!-- ---------------------------------------- -->

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>


    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    checkedNames: [],
                    options: [
                        {
                            "value": "Burns"
                        },
                        {
                            "value": "Mercado"
                        },
                        {
                            "value": "Soto"
                        },
                        {
                            "value": "Potts"
                        },
                        {
                            "value": "Riley"
                        },
                        {
                            "value": "Erica"
                        },
                        {
                            "value": "Laverne"
                        }
                    ]
                }
            }
        });
    </script>


</body>

</html>